In [ ]:
a='C,B,A'
b=['F','G','H']

a=a.split(',')
c=a+b
c[0]='k'

print(c[2])

del c[1:4]

print(c)

A
['k', 'G', 'H']

In [ ]:
a=input('請輸入一個八位數字')
print(a[4])

請輸入一個八位數字12345678
5

In [ ]:
a="My ID is B1206038"
a=a.split(" ")
print(len(a))
print(len(a[3]))

4
8

In [ ]:
a = [['I','\'','m'], 'a', 'student']
print(a[0][2])

m